%h1
  - if @courses.count == 0
    No Search Results
  - else
    Courses:
    = @courses.count

.d-flex.flex-wrap.container
  - @courses.each do |course|
    = render 'course', course:course


= link_to 'New Course', new_course_path
